<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>

        body{
            height: 100vh;
            width: 100vw;
            margin: 0;
            padding: 0px;
        }



        nav{
            display: flex;
            align-items: center;
            background-color: #f4f4f4;
            height: 3rem;
            justify-content: end;

        }

        form{
            display: flex;
            margin-right: 30px;
            align-items: center;
            gap: 10px;

        }
    </style>
</head>
<body>
    <nav>
        <div>
            <form action="/login" method="post">
                <div class="name">
                    <input type="text" placeholder="Username">
                </div>
                <div class="password">
                    <input type="password" placeholder="Password">
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </nav>
    <main>
        <h1>Hello World</h1>
    </main>
    
</body>
</html>